body {
    font-family: "Arial", Times, serif;
    color: black;
    
	}
  h1 {
    font-family: Arial, Helvetica, SunSans-Regular, sans-serif 
	}


.button2 {
    position: absolute;
    bottom: 25;
     -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:#236d80;
    font-family:Arial;
    font-size:15px;
    padding:5px 14px;
    text-decoration:none;
    background-color:#70d6c8;
}
.button2:hover {
       background-color:#D7F9F5;
  position: absolute;
    bottom: 25;
}
.button2:active {
  position: absolute;
    bottom: 25;
}
